header#main-header {
    font: 24px Arial;
    width: 50%;
    height: 60px;
    background: rgb(28, 201, 192);
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}
