.usuario-update input{
    background: aliceblue;
    border: 1px solid black; /*bordar do label*/
    border-radius: 5px;
    padding: 5px;/*espaçamento interno*/
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: dimgray; /*cor da fonte*/
}